<p>Select the project you'd like to print cards for:</p>

<% @projects.each do |project| %>
  <form action="/iterations" method="post">
    <input type="hidden" name="project_id" value="<%= project.id %>" />
    <button type="submit">Open <%= project.name %></button>
    <input type="hidden" name="api_key" value="<%= @api_key %>" />
  </form>
<% end %>

<p class="start-again"><a href="/">start again</a></p>
